.uk-fixed
{
    position: fixed;
}

body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
.wrap
{
    flex: 1 0 auto;
  }

nav{
    .uk-parent > a
    {
        &:hover{ cursor:pointer; }
    }
}
