.section {
    position: relative;
    margin-bottom: 20px;
    
    .section-header {
        background-color: $main-color;
        color: $white-color;
        padding: 5px 20px 5px 50px;
        position: absolute;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
        z-index: 1;

        span {
            font-size: 18px;
        }

        &:hover {
            background-color: $hover-color;
        }
    }

    .section-content {
        background-color: $secondary-color;
        padding: 65px 20px 10px 35px;
        -webkit-clip-path: polygon(100% 0,100% 100%,13% 100%,13% 21%,0 0);
    }

}

@media (max-width: $screen-phone) {
    .section {
        
        .section-header {
            width: 82%;
        }

    }
}

// @media (min-width: $screen-tablet) and (max-width: $screen-desktop) {
//     .section {
        
//         .section-header {
//             min-width: 186px;
//         }

//         .section-content {
//             min-width: 186px;
//         }

//     }
// }

@media (max-width: $screen-lg-desktop) {
    .section {
        
        .section-content {
            padding: 75px 20px 10px 35px;
        }

    }
}